$body-bg: #edf3f1;
/* Media Queries */
$mobile: 23em; /*375px*/
$tablet: 48em; /*768px*/
$desktop: 64em; /*1024px*/
$desktop-xl: 75em; /*1200px*/
/* COLORS */
$blue-100: #3f48ad;
$blue-200: #1e2469;
$blue-300: #306495;
$green-100: #07b284;
$green-200: #9cbeb3;
$purple-100: #80868b;
$black-100: hsla(0, 0%, 0%, 1);
$neutral-gray-100: #80868b;
$neutral-gray-200: hsla(207, 5%, 52%, 1);
$neutral-gray-300: hsla(0, 0%, 0%, 0.3);
